<div class="panel panel-default">
    <div class="panel-body">
      <form id="document-edit">
        <div class="row">
            <div class="col-xs-12">
              <input type="text" #subject placeholder="Enter subject">
              <input type="text" #msgText placeholder="Enter message">
              <button (click)="onSendMessage()">Send</button>
              <button (click)="onClear()">Clear</button>
            </div>
          </div>          
      </form>
    </div>
  </div>
  